body{
    background-color:#e0dede;
    font-family: Arial;
    text-align:center;
}
/* Nome */
h1{
    color:#000000;
    font-size: 1.5rem;
    text-align: justify;
    padding-inline-start: 6px;
}


p {
    font-size: 0.8rem;
}


/*tudo*/
.perfil{
    width:350px;
    background: 
        linear-gradient(white) padding-box, /*tdç caixa de preenchimento*/
        linear-gradient(180deg, #e1306c, #833ab4, #F56040, #405DE6) border-box;
    border:5px solid transparent;
    padding:20px;
    margin: 40px;
    border-radius: 5%;
 
}


.foto{
    width:120px;
    height:120px;
    padding: 6px;
    border:3px solid transparent;
    
    background:
        linear-gradient(white ) padding-box,
        linear-gradient(180deg, #e1306c, #833ab4, #F56040, #405DE6) border-box;
    border-radius:50%;
}


.bio{
    color:#2c1c1c;
    margin:10px;
    text-align: justify;
}


.infos{
    background-color:#ffffff;
    padding:15px;
    display: flex;
    text-align: center;
    font-size: 1rem;

    
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;

    /*para anular o padding colocado em perfil*/
    margin-left: -20px; /*parte esquerda*/
    margin-right: -20px; 
}

/*colocar linhas/div | entre as informações*/
.infos div{
    padding-inline-end: 40px;  /*tdç preenchimento de linha final*/
    padding-inline-start: 26px;
    border-right: 1px solid #ccc; /*borda a direita*/
}

/*pra tirar linha da coluna do último, "se liga a .infos div anterior*/
.infos div:last-child{ /*ultima divisão decoisa*/

    border-right:none;
}

.infos strong{
    font-size: 1.2rem;
}

.posts{
    justify-content:center;
}

.post{ /*iamgens*/
    width:100px; /*largura*/
    height:120px; /*altura*/
    margin: 1px;
    padding: 5px;
    border-radius: 8%;
}

